<h1 class="mt-4 d-flex justify-content-center">Test Form</h1>
<div class="d-flex flex-column align-items-center">
  <form class="m-3 col-6" [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name: </label>
      <input id="name" class="form-control" type="text" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone: </label>
      <input id="phone" class="form-control" type="tel" formControlName="phone">
    </div>
    <input type="hidden" name="_csrf" formControlName="_csrf">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger m-2" (click)="hackFormData()">Hack</button>
  </form>
  <div *ngIf="result">
    <h2>Result</h2>
    <pre>{{result | json}}</pre>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="formError">
    {{formError}}
  </div>
</div>
